body {
	background: #FFF;
	color: #888;
	padding: 0;
	margin: 0;
	font: 72.5% 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Headers*/
h1 {
	font-size: 40px;
	color: #FFF;
	font-family: 'Myriad pro', Corbel, Arial, Helvetica, sans-serif;
	letter-spacing: -4px;
}

h1 a {
	color: #FFF;
}

h1 a:hover {
	color: #FFF;
	text-decoration: none;
}

h2,h3,h4,h5,h6 {
	color: #505050;
	font-size: 35px;
	font-family: 'Myriad pro', Corbel, Arial, Helvetica, sans-serif;
	letter-spacing: -2px;
}

h3 {
	font-size: 26px;
	font-family: 'Myriad pro', Corbel, Arial, Helvetica, sans-serif;
	color: #4c7895;
	margin: 0;
	margin-bottom: 10px;
}

h4 {
	font-size: 20px;
	letter-spacing: 0px;
}

h5 {
	font-size: 16px;
	letter-spacing: 0px;
}

h6 {
	font-size: 13px;
	letter-spacing: 0px;
}

/*Links*/
a {
	color: #4C7895;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

/*Return to Blog */
.header {
	background: #4c7895;
	postion: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
}

.header a {
	color: #FFF;
	font-size: 140%;
}

.return {
	float: right;
	padding: 20px;
}

/*Container*/
.container {
	width: 85%;
	margin: 30px auto;
	background: #FFF;
	padding: 25px;
	border: 1px solid #a1a1a1;
	min-height: 400px;
	height: auto;
}

.yellow {
	background: #ffc;
}

.green {
	background: #cfc;
}

.blue {
	background: #ccf;
}

.red {
	background: #f24a4a;
}

.purple {
	background: #eaafe3
}

.orange {
	background: #f28e50;
}

/* Customized Sticky Notes */
ul.single_sticky_notes p {
	font-size: 16px;
}

ul.single_sticky_notes li {
	width: 150px;
	height: 120px;
	padding: 22px;
	margin: 20px;
	float: left;
	/* Firefox */
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	/* Safari+Chrome */
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	/* Opera */
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	font-family: 'Short Stack', cursive;
	border-radius: 9px 9px 9px 9px;
}

ul.single_sticky_notes {
	list-style: none;
}

ul.single_sticky_notes li:nth-child(odd) {
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	position: relative;
	top: 5px;
}

ul.single_sticky_notes li:nth-child(2n) {
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	position: relative;
	top: -5px;
}

ul.single_sticky_notes li:nth-child(6n) {
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	top: -10px;
}

ul.single_sticky_notes li:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	position: relative;
	z-index: 10;
	-moz-box-shadow: 0px 10px 7px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0px 10px 7px rgba(0, 0, 0, .7);
	box-shadow: 0px 10px 7px rgba(0, 0, 0, .7);
	-webkit-transition: all 300ms ease-in 50ms;
	/* property duration timing-function delay */
	-moz-transition: all 300ms ease-in 50ms;
	-o-transition: all 300ms ease-in 50ms;
	transition: all 300ms ease-in 50ms;
	cursor: pointer;
}
