html {
	height: 100%;
	width: 100%;
}

body {
	height: 60%;
	width: 70%;
	padding: 100px 130px 150px 200px;
/* 	background-image: url('background.png'); */
}

legend {
	font-size: 18px;
	font-weight: 600;
	font-family: fantasy;
}

form fieldset {
	height: 70%;
	width: 100%;
	background-color: #2191c0;
	border: ridge;
}

div#taskmanager {
	height: 180;
	width: 170;
	text-align: center;
/* 	transform: rotate(350deg) perspective(600px) rotateY(35deg); */
/* 	-moz-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
/* 	-ms-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	border-radius:  9px 9px 9px 9px; 
}

div#taskmanager_yellow {
	height: 180;
	width: 170;
	text-align: center;
/* 	transform: rotate(350deg) perspective(600px) rotateY(35deg); */
/* 	-moz-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
/* 	-ms-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	border-radius:  9px 9px 9px 9px; 
}

.submitId {
	padding-left: 40px;
}

a {
	font-family: fantasy;
	text-decoration: underline;
	font-style: italic;
	font-size: medium;
}