html {
	height: 100%;
	width: 100%;
}

body {
	height: 60%;
	width: 70%;
	padding: 50px 120px 120px 120px;
}

legend {
	font-size: 18px;
	font-weight: 600;
	font-family: fantasy;
}

form fieldset {
	height: 70%;
	width: 65%;
	border: ridge;
}

div#taskmanager {
	height: 180;
	width: 170;
	text-align: center;
	/* 	transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	/* 	-moz-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	/* 	-ms-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	border-radius: 9px 9px 9px 9px;
}

div#taskmanager_yellow {
	height: 180;
	width: 170;
	text-align: center;
	/* 	transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	/* 	-moz-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	/* 	-ms-transform: rotate(350deg) perspective(600px) rotateY(35deg); */
	border-radius: 9px 9px 9px 9px;
}

.submitId {
	padding-left: 40px;
}

a {
	font-family: fantasy;
	text-decoration: underline;
	font-style: italic;
	font-size: medium;
}

#banner {
	background: #2191c0;
	padding: 5px;
	color: white;
	margin-top: 5px;
}

#controlBar {
	padding-top: 3px;
}

#record-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#record-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}

label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }
fieldset {
	font: 1em Georgia, "Times New Roman", Times, serif;
	text-transform: none;
	border: 2px solid #ddd;
	margin:0 2px;
	padding:.35em .625em .75em
	border-radius: 10px;
	border: 2px groove threedface;
}
.newEditForm {
    border: 1px solid #DFDCDC;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 25px 50px 10px;
    width: 350px;
    font: 12px Arial, Helvetica, sans-serif;
}
.newEditForm .fieldgroup {
    background: url("form-divider.gif") repeat-x scroll left top transparent;
    display: inline-block;
    padding: 8px 10px;
    width: 340px;
}
#tableHead{
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 10px;
}
#tableUsers {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
    width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#tableUsers td, #tableUsers th {
	padding: 5px;
	color: #333;
}

#tableUsers th {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}

#tableUsers td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
#tableUsers td:hover {
	background-color: #fff;
}

p #historydesc{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 100%;
}

#tableHistory {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
    width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#tableHistory td, #tableHistory th {
	color: #333;
}
#tableHistory th {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}

#tableHistory td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
#tableHistory td:hover {
	background-color: #fff;
}