.newEditForm label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }
  .profileEditForm label {
	  float:left;
	  width:30%;
	  margin-right:0.5em;
	  padding-top:0.2em;
	  text-align:left;
	  font-weight:bold;
 
  }
  .userprofileInpt input {
	  
	  font-weight:bold;
 
  }
.newEditForm {
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 25px 50px 10px;
    width: 350px;
    font: 12px Arial, Helvetica, sans-serif;
    
}
.profileEditForm
{
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 25px 50px 10px;
    width: 350px;
    font: 12px Arial, Helvetica, sans-serif;
}
.profileEditForm .fieldgroup {
    display: inline-block;
    padding: 8px 10px;
    width: 340px;
}
.newEditForm .fieldgroup {
    display: inline-block;
    padding: 8px 10px;
    width: 340px;
}
#tableHead{
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 10px;
}
#tableUsers {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
    width: 80%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#tableUsers td, #tableUsers th {
	padding: 5px;
	color: #333;
}

#tableUsers th {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}

#tableUsers td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
#tableUsers td:hover {
	background-color: #fff;
}